@tailwind base;
@tailwind components;
@tailwind utilities;

html{
width: 100%;
}
.toggel {
 left:-100% ;
 transition: ease-in-out 500ms;
}

.toggelcard{
    right: -100%;
    display: none
}

.active{
    background-color: #80808047;
}